alias e='emacs'
alias ec='emacsclient -t'
alias v='vim'
alias ..='cd ..'
alias ...='cd ../..'
alias g='git'
alias h='history'
alias df='df -h'
alias du='du -h'
alias su="su -"
alias sudo='sudo -E'
alias less='less -r'
alias tree='tree -C'
alias fz='fzf'