alias e='emacs -nw'
alias ec='emacsclient -t'
alias v='vim'
alias ..='cd ..'
alias ...='cd ../..'
alias g='git'
alias gbc='git branch --merged main | grep -v "main" | xargs -n 1 git branch -d'
alias h='history'
alias df='df -h'
alias du='du -h'
alias su="su -"
alias sudo='sudo -E'
alias less='less -r'
alias tree='tree -C'
alias ll='ls -l'
