# vertex
GOOGLE_APPLICATION_CREDENTIALS=/path/to/xxx
VERTEXAI_PROJECT=xxx
# sonnet
# VERTEXAI_LOCATION=us-east5
# gemini
VERTEXAI_LOCATION=us-central1

# model
AIDER_MODEL=vertex-gemini
AIDER_EDITOR_MODEL=vertex-gemini
AIDER_WEAK_MODEL=vertex-gemini
