ANTHROPIC_API_KEY=xxx

# vertex
GOOGLE_APPLICATION_CREDENTIALS=/path/to/xxx
VERTEXAI_PROJECT=xxx
# vertext-sonnet
# VERTEXAI_LOCATION=us-east5
# vertext-gemini
VERTEXAI_LOCATION=us-central1

# model
AIDER_MODEL=vertex-gemini
AIDER_EDITOR_MODEL=vertex-gemini
AIDER_WEAK_MODEL=vertex-gemini
